.button {
  padding: 0.8rem;
  border-radius: 0.25rem;
  background-color: var(--dark-blue);
  color: white;
  margin-right: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;

  a {
    color: white;
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 0.8rem;
  }
}
