.rankingsWrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

.banner {
  padding: 1rem;
  color: white;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.tableParent {
  background-color: white;
  flex-grow: 1;

  overflow-y: auto;
  overflow-x: hidden;
}

.placeholder{
    display: flex;
    justify-content: center;
    margin-top: 10rem;

}

.placeholder > h2{
  color:rgb(46, 44, 44);
}


.centerBtn{
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.highlight{
  color:#3D8856;
}

@media screen and (min-width: 768px) {
  .banner {
    flex-flow: row;
  }
}
