.wrapper{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header{
  position: absolute;
  align-items: center;
  color:rgb(250, 249, 249);
  top: 3.5em;
  width: 100%;

  >h2{
    margin-left: 2%;
    font-size:200%;
    margin-bottom: 0.7em;
  }
}
.notFound {
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: .8rem;
  background: #ffff;
  width: 100%;
  height: 100%;
  margin-top: 9rem;
  
  >strong{
    text-align: center;
    color: rgb(233, 131, 131);
    font-size: 200%;
    text-transform: capitalize;
    padding-top: 2rem;
    animation: not-found alternate-reverse 1s linear infinite;
    -webkit-animation: not-found ease-in-out 1s linear infinite;
}

}

@keyframes not-found {
  20% {
    text-transform: lowercase;
  }

  50% {
    text-transform: uppercase;
  }

  100% {
    text-underline-offset: unset;
  }
}

@media screen and(max-width: 768px){
  .notFound {
    margin-top: 8rem;
    
    >strong{
      font-size: 120%;
      z-index: 1;
  }

  .notFoundSvg{
    position: absolute;
    
  }
  
  }
  
}