.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.header {
  color: rgb(250, 249, 249);
  padding: 1rem;
}
.notFound {
  background: #ffff;
  flex-grow: 1;

  display: grid;
  place-items: center;

  > strong {
    text-align: center;
    color: rgb(233, 131, 131);
    font-size: 200%;
    text-transform: capitalize;
    animation: not-found alternate-reverse 1s linear infinite;
    -webkit-animation: not-found ease-in-out 1s linear infinite;
  }
}

@keyframes not-found {
  20% {
    text-transform: lowercase;
  }

  50% {
    text-transform: uppercase;
  }

  100% {
    text-underline-offset: unset;
  }
}

@media screen and(max-width: 768px) {
  // .notFound {
  //   margin-top: 8rem;

  //   > strong {
  //     font-size: 120%;
  //     z-index: 1;
  //   }

  //   .notFoundSvg {
  //     position: absolute;
  //   }
  // }
}
