.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 2rem;

  button {
    color: var(--gradient-blue);
    background-color: var(--light-blue);
    width: 8rem;
    letter-spacing: 0.05rem;
    margin: 0 !important;
    border-radius: 0;
    transition: none;

    &:hover {
      background-color: var(--gradient-blue);
      color: white;
    }
  }

  textarea {
    padding: 2rem;
    outline: none;
    border: none;
    transition: border-color 0.7s linear;
    font-family: var(--app-font-primary);
    flex-grow: 1;
    border-radius: 1rem;
    resize: none;
    background-color: #f0f0f080;
    margin: 0 !important;
    border-top-left-radius: 0;
  }
}

// .questionButtons {
//   padding: 1rem 0;
// }

.savePublishButtonsWrapper {
  padding: 1rem 0;
  align-self: end;

  button {
    border-radius: 0.3rem;
    transition: all 0.2s linear;
    //save
    &:first-child {
      color: #aaa;
      background-color: transparent;
      font-size: 105%;
      &:hover {
        color: var(--deep-green);
        font-size: 110%;
      }
    }

    //publish
    &:last-child {
      color: white;
      background-color: var(--deep-green);
      &:hover {
        background-color: var(--gradient-green);
      }
    }
  }
}
