.skeleton {
        margin: 0.5em;
        opacity: .2;
        animation: skeleton-loader 1s linear infinite alternate;
    }
    
    @keyframes skeleton-loader {
        0% {
            background-color: hsl(200, 20%, 50%);
        }
    
        100% {
            background-color: hsl(200, 20%, 90%);
        }
  }
    
.circle {
        width: 20%;
        border-radius: 50%;
        background: #D2DBE2;
        min-height: 3em;
        aspect-ratio: 1/1;
        @extend .skeleton
}
    
.rectangle {
        width: 20%;
        min-height: 5em;
        background: #D2DBE2;
        @extend .skeleton
}
    
.line {
        width: 80%;
        min-height: 40px;
        background-color: #D2DBE2;
        @extend .skeleton
}
    
