.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;

  button {
    color: var(--gradient-blue);
    background-color: var(--light-blue);
    border-radius: 5rem;
    width: 7rem;

    &:hover {
      background-color: var(--gradient-blue);
      color: white;
    }
  }

  textarea {
    padding: 2rem;
    outline: none;
    border: none;
    border-left: 0.1rem solid #f2f2f2;
    transition: border-color 0.7s linear;
    font-family: var(--app-font-primary);

    &:focus {
      border-color: var(--gradient-blue);
    }
  }
}
