.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.03);
}

.newBtn button{
    justify-content: center;
    background-color: #718774 !important;
    border-radius:0 !important;
    height:4rem !important;
    width:15rem !important;
    font-size: 1.5rem;
}

.navItems{
    margin-left: auto;
    overflow: hidden;
    & ul{
        display: flex;
        padding: 0;
    }
    & li{
        list-style-type: none;
        margin: 0 1rem;

        & button {
            text-decoration: none;
            display: block;
            width: 100%;
            background-color: #ffff !important;
            & a{
            color:black !important;
            font-size: 1.5rem;
            
            }
        }
    }
}

//toggle button styles
.toggleBtn{
    display: none;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    transform: translateY(-50%);
    background-color: #ffff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}

.toggleBtn:hover{
    background-color: #717c8713 ;
    border: 2px solid  #717c8713;
}

//media queries

@media screen and (max-width: 980px){
    button a{
        font-size: 1rem;
      }
      .navItems{
          & li > button {
              & a{
                  font-size: 1rem;
              }
          }
      }

}

@media screen and (max-width: 768px) {
    .navItems{
        margin-left: auto;
        overflow: hidden;
        & ul{
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            height: calc(100vh - 3.75rem);
            background-color: white;
            border-top: 1px solid black;
            display: none;
        }

        & li{
            text-align: center;
            margin: 0;
        }

        :hover{
            background-color: #eee;
        }
    }
    .toggleBtn{
        display: block;
    }

}