.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;

  & > div:first-child {
    padding: 2rem;
  }
}

h1 {
  color: white;
}

.challengesList {
  background-color: white;
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.challengeBubble {
  color: white;
  text-align: center;
  background-color: #283c86;
  border-radius: 50%;
  margin: 1rem;
  font-size: 1.5rem;

  a {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: white;

    &:hover {
      background-color: #fafafa;
    }
  }
}
