@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,500,600,700,900");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-violet: #d4c9f2;
  --text-violet: #6352a1;
  --light-blue: rgba(40, 60, 135, 5%);
  --gradient-blue: #283c86;
  --gradient-green: #45a247;
  --gradient-background: linear-gradient(
    90deg,
    var(--gradient-blue) 2%,
    var(--gradient-green) 98%
  );
  --dark-blue: #191f25;
  --app-font-primary: "Google Sans";
}

body {
  font-family: var(--app-font-primary), "Quicksand", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--gradient-background);
}

button,
input,
select {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
